@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* { margin: 0px;  padding: 0px;  border: 0px;  color: #5a5c69;  font-family: 'Open Sans', sans-serif;  font-stretch: normal;  font-style: normal;  letter-spacing: normal;  font-weight: normal;  box-sizing: border-box;
 word-break: keep-all; font-size: 16px; }
html,
body {  background: #f8f9fc;  width: 100%;  height: 100%;  overflow: hidden;}
.full_wrap { display: flex;}


/*menu layout*/ 
.main_con { flex-grow: 1;  padding: 0 1.5rem;background-color: #f8f9fc;  height: 100vh;  overflow: auto;}
.main_con .herder { display: flex; justify-content: space-between; padding: 1.5rem 0; align-items: center;}
/*menu layout end*/