.color1 { color: #4e73df;}
.color2 { color: #1cc88a;}
.color3 { color: #36b9cc;}
.color4 { color: #f6c23e;}

.mtit {font-size: 1.75rem; font-weight: 700;}
.tit { color: #4e73df; font-weight: 600}
.stit { font-size: 0.7rem;}

.lg_con { font-size: 1.25rem; font-weight: 700}
.box_st { background-color: #fff; overflow: hidden; box-sizing: border-box; padding: 0.5rem 0.8rem; border-radius: 0.35rem; box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15); position: relative;}

button { color: #fff; background-color: #4e73df; border-color: #4e73df; border-radius: 5px; padding: 0.1rem 1rem; font-size: 0.8rem;}

/*여기 까지 기본 폰트나 박스 스타일 적용*/



/*1st layout*/
.full_wrap { display: flex;}


/*3st layout end*/
.section { display: flex; flex-wrap: wrap; gap: 1.250rem; margin-bottom: 1.250rem;}
.section>div {flex-grow: 1;}
.section .box_st .bs_tit { padding: 0.75rem 0.25rem; border-bottom: 1px solid #e3e6f0;}
.section .box_st .bs_con {padding: 0.75rem 0.25rem;}
/*3st layout end*/


/*section aa*/
.section.aa { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;}
.section.aa>div { height: 75px; display: flex;flex-direction: column; justify-content: center; flex: 1 1 100%}

.box_st.cll_color1 {border-left: 0.25rem solid #4e73df;}
.box_st.cll_color2 {border-left: 0.25rem solid #1cc88a;}
.box_st.cll_color3 {border-left: 0.25rem solid #36b9cc;}
.box_st.cll_color4 {border-left: 0.25rem solid #f6c23e;}


/*section bb*/
.section.bb>div { height: 250px; display: flex; flex-direction: column;}
.section.bb>div:nth-child(1) { flex-grow: 2;}
.section.bb>div:nth-child(2) { flex-grow: 1;}


/*section cc*/
.section.cc>div { height: 180px;}




